<section id="bener_section" class="bener_section clearfix">
    <div class="bener_overlay"><div class="container">
        <div class="row">
            <div class="bener_content entry-header">
                <h1 class="entry-title">About Us</h1>
            </div>
            </div>
        </div>
    </div>
</section>
<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        <div class="container"><div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-box">
                    <div class="bt-default">
                        <article id="post-6308" class="post-6308 page type-page status-publish hentry top">
                            <div class="entry-content">
                                <p>Bootstrap has become one of the trendiest front-end frameworks all over the world. It is truly open source, responsive, prevailing, mobile-first and front-end framework. Bootstrap framework is extremely easy to use. Consistency, simple integration, flexibility, custom version and speed of the development are some of the major benefits of using bootstrap framework in web design and development.</p>
                                <p>“Bootstrap Themes” is an online marketplace for latest bootstrap HTML templates and WordPress themes for free. Create appealing websites for your clients using our highest-quality bootstrap themes and templates free of cost.</p>
                                <p>You’ll find bootstrap HTML templates and WordPress themes for all the following categories and purposes on our website:</p>
                                <ul>
                                    <li>Portfolio</li>
                                    <li>Landing Page</li>
                                    <li>Corporate &amp; Business</li>
                                    <li>Creative</li><li>Hosting</li>
                                    <li>Photography</li><li>Agency</li>
                                    <li>Education</li><li>Restaurant</li>
                                    <li>Health &amp; Beauty</li><li>Events</li>
                                </ul>                                                                  
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>