<div class="main"> 
    <div class="intro intro--blue intro--home">
			<div class="intro__background" style="background-image: url(assets/Images/banner9.jpg);"></div><!-- /.intro__image -->

			<div class="intro__group">
				<h1>
					<small></small>
					Title<br>          
				</h1>
				<p></p>
			</div><!-- /.intro__group -->
			<a href="#section-services" class="scroll">
				<i class="ico-mouse-white"></i>
			</a>
		</div>

		<section class="intro_cont">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<span class="glyphicon glyphicon-apple" style="font-size: 60px"></span>
						<h2 class="section-heading">Completely synergize resource taxing relationships</h2>
						<p class="text-light">Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive img-circle center-block" src="images/microphone.jpg" alt="">
					</div>
					<div class="col-sm-6">
						<h2 class="section-header">Best in Class</h2>
						<p class="lead text-muted">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
						<a href="#" class="btn btn-primary btn-lg">Classify It</a>
					</div>                
					
				</div>
			</div>
		</section>

		<section class="content content-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="section-header">Superior Quality</h2>
						<p class="lead text-light">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
						<a href="#" class="btn btn-default btn-lg">Test It</a>
					</div>    
					<div class="col-sm-6">
						<img class="img-responsive img-circle center-block" src="images/iphone.jpg" alt="">
					</div>            
					
				</div>
			</div>
		</section>
  </div>
